$color-primary: #55c57a;
$color-secondary: #3bbadd;

.main {
	&__greeting {
		color: $color-primary;
	}
	&__function-greeting {
		color: $color-secondary;
	}
	&__v-html {
		color: $color-secondary;
	}
}